.tex-logo sub, .latex-logo sub, .latex-logo sup {
  text-transform: uppercase;
}

.tex-logo, .latex-logo {
  font-size: 1em;
}

.tex-logo sub, .latex-logo sub {
  font-size: 0.90em;
  vertical-align: -0.0ex;
  margin-left: -0.25em;
  margin-right: -0.1em;
}

.latex-logo sup {
  font-size: 0.85em;
  vertical-align: -0.3em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}

.footer a:link,
.footer a:visited {
  color: yellow;
}

.footer a:hover,
.footer a:active {
  color: #adff2f;
  text-decoration: underline dotted;
}

.title-page-box {
  color: white;
  background-color: hsla(0, 0%, 0%, 0.4);
  overflow: scroll-y;
}

table thead th[align="center"],
table tfoot th[align="center"] {
  text-align: center;
}

table thead th[align="left"],
table tfoot th[align="left"] {
  text-align: left;
}

table thead th[align="right"],
table tfoot th[align="right"] {
  text-align: right;
}

table tbody tr:nth-child(even) td i.idle-icon {
  color: #d8d8f0;
}

table tbody tr:nth-child(odd) td i.idle-icon {
  color: #e8e8f8;
}
