<div class="grid-x align-middle">
  <div class="cell small-12 medium-4">
    <p style="margin-bottom:0;"><!-- Left material --></p>
  </div>
  <div class="cell small-12 medium-4 medium-offset-4">
    <div class="grid-x">
      <div class="cell small-12">
        <div class="grid-x align-middle">
          <div class="cell small-12 medium-shrink">
            <img src="/img/cc-by.svg"/>
          </div>
          <div class="cell small-12 medium-shrink medium-text-left" style="font-size:75%;">
            <p style="margin-bottom:0;">Copyright 2018, <a href="https://www.jonathangilligan.org" target="_blank">Jonathan Gilligan</a>.</p>
            <p style="margin-bottom:0;">Based on <a href="https://espm-157.carlboettiger.info/" target="_blank">ESPM 157</a>, by <a href="http://www.carlboettiger.info/" target="_blank">Carl Boettiger</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
