<div class="title-bar small-1" data-responsive-toggle="navigation-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="navigation-menu"></button>
  <div class="title-bar-title">{{ .Site.Params.ShortCourseName }}</div>
</div>
<div class="top-bar navbar shrink" id="navigation-header">
  <div class="top-bar-left show-for-medium">
    <h4 style="margin:0;">{{ .Site.Params.ShortCourseName }}</h4>
  </div>
  <div class="top-bar-right">
    {{ partial "nav-menu.html" . }}
  </div>
</div>
